<ion-header>
	<ion-toolbar no-padding color="primary"></ion-toolbar>
	<ion-navbar no-padding color="primary">
		<ion-title>
			Back Over Pizza
		</ion-title>
	</ion-navbar>	
</ion-header>
<ion-content>
	<ion-fab bottom right>
		<button ion-button padding small mode="ios" round icon-left color="secondary">
			<ion-icon name="cart"></ion-icon>
			ADD TO ORDER
		</button>
	</ion-fab>
	<ion-card class="customCard" *ngFor="let card of data">
		<ion-title>
			{{card.name}}
		</ion-title>
		<ion-card-content>
			<ion-list radio-group *ngIf="card.type == 'OPTION_CHOOSE'">
				<ion-item no-padding *ngFor="let option of card.options">
					<ion-radio [checked]="option.is_default == 1" [value]="option.name" item-left color="secondary"></ion-radio>
					<ion-label>{{option.name}}</ion-label>
					<ion-label class="m-n" item-right text-right>
						${{option.value}}
					</ion-label>
				</ion-item>
			</ion-list>
			<ion-list *ngIf="card.type == 'OPTION_ADD'">
				<ion-item no-padding *ngFor="let option of card.options">
					<ion-checkbox [checked]="option.is_default == 1" item-left color="secondary"></ion-checkbox>
					<ion-label>{{option.name}}</ion-label>
					<ion-label class="m-n" item-right text-right>
						+ ${{option.value}}
					</ion-label>
				</ion-item>
			</ion-list>
		</ion-card-content>
	</ion-card>
	<div padding></div>
	<div padding-bottom></div>
</ion-content>